<h1>Article</h1>

<p><%= @article.title %></p>
<p><%= @article.body %></p>
<p><%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Are you sure you want to delete it?"} %></p>
